.app-container {

  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.header-container {
  padding-bottom: 2.5rem;
  margin:  auto;
  text-align: center;

  align-items: center;
  max-width: 48rem;
  
  
}

.main-header {
  font-size: 2.25rem;
  font-weight: bold;
  color: #1a202c;
}

.main-header .highlight {
  color: #2563eb;
}

@media (min-width: 640px) {
  .main-header {
    font-size: 3.75rem;
  }
}

.description {
  margin:  auto;
  text-align: center;
  align-items: center;
  padding-bottom: 1rem;
  font-weight: 500;
  font-size: 1.125rem;
  max-width: 65ch;
  color: #1a202c;
}

.form-container {
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.wide-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: antiquewhite;
  border-radius: 4px;
}

.slider-field {
  display: block;
  width: 100%;
  font-size: 16px; /* Dopasowany do font-size pól tekstowych */
  color: #1a202c
}

.slider-input {
  width: 100%;
  accent-color: #092644; /* Użycie tego samego koloru co tło przycisku */
  cursor: pointer;       /* Kursor 'pointer' dla lepszej interakcji */
}

.slider-value {
  font-size: 16px;         /* dopasuj rozmiarem do pól formularza (np. 16px jak .wide-input) */
  font-weight: 500;        /* opcjonalnie dopasuj grubość czcionki do etykiet/formularza */
  margin-left: 8px;        /* odstęp w poziomie od etykiety (jeśli wartość jest obok etykiety) */
  color: #1a202c;          /* dopasuj kolor tekstu (np. taki jak .description czy domyślny tekst) */
  display: inline-block;   /* zapewnia, że marginesy działają poprawnie w kontekście tekstu */
}

.search-button {
  width: 100%; /* Make the button full width */
  max-width: 300px; /* Set a maximum width for the button */
  padding: 10px;
  font-size: 16px;
  background-color: #092644;
  color: antiquewhite;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

.result-container {
  margin-top: 20px;
  transition: height 0.3s ease-out;
  overflow: hidden;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.result {
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 4px;
  padding: 15px;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: black;
  font-weight: bold;
  text-align: left; /* Align text to the left */
}